.hover {
    color: rgb(228, 218, 87);
    font-size: 95%;
    background-color: #000;
    border: none;
    outline: none;
    text-align: center;
    margin-right: 2.5em;
}

.hover:hover {
    background-color: rgb(228, 218, 87);
    color: #000;
}

.dropdown {
    text-align: center;
}

#search-button {
    border-color: rgb(228, 218, 87);
    background-color: #000;
    color:rgb(228, 218, 87);
}

#search-button:hover {
    background-color: rgb(228, 218, 87);
    color: #000;
}

.navbar {
    height: 10em;
    background-color: #000;
}

.logo {
    height: 100%;
    width: 15%;
    margin-right: 2em;
}

.pata {
    height: 25%;
    width: 3%;
    display: block;
    margin-right: 2.5em;
}

.cart {
    font-size: 1.5em;
    margin-left: 4em;
}